.main{
    width: 100vw;
}
body{
    font-family:Arial, Helvetica;
}
.icons{
display: flex;
flex-direction: row;
gap: 30px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 300px;
    margin: 0 auto;
}
.logo{
    margin: 0;
}
.order{
    width: 300px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 30px;
}
#headphones{
    width: 100px;
}
.account{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.account img{
    width: 10px;
    height: 10px;
}
img{
    width: 50px;
}
.last{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
.two{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    border-radius: 30px;
    padding: 20px;
    background-color: whitesmoke;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 10px;
    padding: 20px 0;
}
#email, #password{
    width: 300px;
    height: 20px;
    background-color: gainsboro;
    border-radius: 7px;
}
.top{
    margin: 0px auto;
}
.bottom{
    margin-top: 100px;
}
.login{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 50px;
}
#log{
    width: 100px;
    height: 30px;
    background-color: rgb(63, 63, 232);
    color: white;
}
#cancel{
    width: 100px;
}
#shippingdetails{
    background-color: rgb(63, 63, 232);
    color: white;
    width: 120px; 
}
#register{
    width: 150px;
    height: 30px;
}
.table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.leftb{
width: 100px;
height: 40px;
background-color: rgb(225, 220, 220);
border-radius: 8px;
}
button{
    border: 1px solid rgb(63, 63, 232);
    border-radius: 5px;
    background-color: white;
    color: rgb(63, 63, 232);
    width: 70px;
    height: 40px;
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 50px;
}
.cancel{
    width: 100px;
    height: 30px;
    display: flex;
    background-color: white;
    border-radius: 10px;
   align-items: center;
   justify-content: center;
}
.shippingdetails{
    width: 150px;
    height: 30px;
    display: flex;
    background-color: rgb(63, 63, 232);
    color: white;
    border-radius: 10px;
   align-items: center;
   justify-content: center;
}
