*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ol {
  list-style-type: none;

  li {
    font-weight: 700;
    color: red;
  }
  #li-1 {
    color: green;
  }

  #li-2 {
    color: blue;
  }
}


main {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}